<!DOCTYPE html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}AllReport {% endblock %}</title>       
        <meta name="description" content="" />
        <meta name="Author" content="PENKA WILLIAMS MAGLOIRE" />
        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />
         {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('home/plugins/bootstrap/css/bootstrap.min.css') }}" type="text/css"  />
        <link rel="stylesheet" href="{{ asset('home/css/essentials.css') }}"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('home/css/layout.css') }}" type="text/css"  />
        	<link href="{{ asset('home/css/header-1.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('home/css/color_scheme/green.css') }}"  type="text/css"  id="color_scheme" />


        
        {% endblock %}
    </head>
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo pull-left" href="#">
							<img src="{{ asset('home/images/lpm.png') }}" alt="" />
						</a>
						<a class="logo pull-left" href="#">
							<img src="http://www.imperialbrandsplc.com/content/imperial-brands/corporate/en/index/_jcr_content/par1/brand_links/tab0/thumbnail.img.png/1480702436194.png" alt="" />
						</a>						

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#home">
											ACCUEIL
										</a>
									</li>
									<li><!-- PRICING -->
										<a href="#about">
											A PROPOS
										</a>
									</li>
									<li><!-- TESTIMONIALS -->
										<a href="{{ path('user_homepage') }}">
								 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{  app.user.username }}{% else %}Connexion{% endif%}
										</a>
									</li>

								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->
			</div>

			<!-- HOME -->
			<section id="home" class="height-450" style="background:url('{{ asset('home/images/wall2.jpg') }}')">
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">
							
							<h1 class="nomargin size-50 weight-300 wow fadeInUp" data-wow-delay="0.4s">Bienvenue sur AllReport</h1>
							<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">Outil de veille et de gestion de la force de vente.</p>
							
							<div class="margin-top-30">
			  <a href="{{ path('mobileapp') }}" class="btn btn-3d btn-lg btn-teal"><i class="glyphicon glyphicon-th-large"></i>Telécharger sur mobile</a>
								<span class="size-17 hidden-xs">&nbsp; OU' &nbsp;</span>		
						<a href="{{ path('user_homepage') }}" class="btn btn-3d btn-lg btn-red"><i class="glyphicon glyphicon-user"></i>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{  app.user.username }}{% else %}Se connecter{% endif%}</a>
							

							</div>

						</div>

					</div>
				</div>
			</section>
			<!-- /HOME -->


			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">
						
						<div class="col-md-4">
							<!-- Footer Logo -->
				
							<img class="footer-logo" src="{{ asset('home/images/lpm.png') }}" alt="" />
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										B.P 21132<br>
										Douala, Cameroun<br>
										Pont Bonabassem<br>
									</li>
									<li class="footer-sprite phone">
										Tel: 00237 233 410 029
									</li>
									<li class="footer-sprite email">
										<a href="mailto:info@lpmconsulting.fr">info@lpmconsulting.fr</a>
									</li>
								</ul>
							<!-- /Contact Address -->

						</div>

						<div class="col-md-4">

							<!-- Latest Blog Post -->
							<h4 class="letter-spacing-1">ACTIVITES</h4>
							<ul class="footer-posts list-unstyled">
								<li>
									<a href="#">Gestion des forces de vente</a>
									
								</li>
								<li>
									<a href="#">Gestion des campagnes marketing</a>
								</li>
								<li>
									<a href="#">Fournisseur de solution de marketing intelligent</a>
									
								</li>
								<li>
									<a href="#">Retail audit et Retail census </a>
									
								</li>								
							</ul>
							<!-- /Latest Blog Post -->

						</div>



						<div class="col-md-4">

							<!-- Newsletter Form -->
							<h4 class="letter-spacing-1">COMMUNAUTES</h4>
							<p>Rejoignez notre communauté en ligne</p>
							<!-- Social Icons -->
							<div class="margin-top-20">
							<a href="https://www.facebook.com/LPMConsulting/" target="_blank" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
					
							</div>
							<!-- /Social Icons -->

						</div>

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="pull-right nomargin list-inline mobile-block">
							
							<li>&bull;</li>
							
						</ul>
						&copy; 2016 Tous droits reservés, LPM Consulting.
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
	<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
       {% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('home/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('home/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('home/js/scripts.js') }}"></script>

       {% endblock %}		

	</body>
</html>