{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ client.nom }} {% endblock %}
{% block body %}
<div id="content" class="dashboard padding-20">
<div class="panel panel-default">
                        <div class="panel-body">
                            <b>{{ client.nom|default(client.username) }}</b> <br>
                            Activités dans la période
                        </div>
                    </div>
            <div class="row">

               <div class="col-md-12">
                            <div id="panel-2" class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <strong>Visites</strong>
                                    </span>
                            <!-- right options -->
                            <ul class="options pull-right list-inline">
                                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                                <li class=""><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a></li>
                            </ul>
                            <!-- /right options -->

                                </div>
                                <!-- panel content -->
                                <div class="panel-body">  
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover"  id="datatable_sample">
                                    <thead>
                                        <tr> 
                                         <th><i class="fa fa-eye"></i></th>                                   
                                            <th>Point de vente</th>
                                             <th>Matricule</th>
                                            <th>Auditeur</th>
                                            <th>Date </th> 
                                            <th>EXC</th>
                                            <th>AFF</th>
                                            <th>MAP</th>
                                            <th>RPD</th>
                                            <th>PRE</th>
                                            <th>SAPP</th>
                                            <th>Est Client</th>
                                            <th>Raison</th>
                                            <th>Est Ouvert</th> 
                                            <th>Raison</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for visite in visites%}
                                        <tr>
                                            <td>
                                            <a target="_blank" href="{{ path('visite_show',{'id':visite.id}) }}" class="btn btn-default btn-xs"> <i class="fa fa-eye"></i></a>
                                            </td>                                        
                                            <td class="col-md-2"> {{visite.pointVente.nom}}</td>
                                             <td > {{visite.pointVente.matricule}}</td>
                                            <td >{{visite.user.nom|default(visite.user.username)}}</td>
                                            <td > {{visite.date |date('d/m/Y')}} </td>
                                            <td >{% if visite.exc and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>                                           
                                            <td >{% if visite.aff and not visite.pasClient and not visite.pasOuvert %}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>
                                            <td >{% if visite.map and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>
                                            <td >{% if visite.rpd and not visite.pasClient and not visite.pasOuvert%}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>
                                            <td >{% if visite.pre and not visite.pasClient and not visite.pasOuvert %}Oui{% elseif not visite.pasClient and not visite.pasOuvert %}Non{%else %}--{% endif %}</td>
                                           <td >{% if visite.sapp and not visite.pasClient and not visite.pasOuvert%}AC{% elseif not visite.pasClient and not visite.pasOuvert %}Autre{%else %}--{% endif %}</td>
                                            <td >{% if visite.pasClient %}Non{% else %}Oui{% endif %}</td>
                                            <td ><b>{{visite.raisonPasClient}}</b></td>
                                            <td >{% if visite.pasOuvert %}Non{% else %}Oui{% endif %}</td>
                                            <td ><b>{{visite.raisonPasOuvert}}</b></td>                                            
                                        </tr>
                                         {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                </div>
                                <!-- /panel content -->

                            </div>
                            <!-- /PANEL -->
                    
                        </div>

             </div>
              </div>

{% endblock %}
{% block javascripts %}
       <script type="text/javascript"> var plugin_path = "{{ asset('assets/plugins/') }}";</script>
       <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-2.2.3.min.js') }}"></script>
       <script type="text/javascript"  src="{{ asset('assets/js/app.js') }}"></script>

         <script type="text/javascript">
            /**
                Chart.js
                http://www.chartjs.org/
            **/
         loadScript( plugin_path + "datatables/js/jquery.dataTables.min.js", function() {
             loadScript(plugin_path + "datatables/dataTables.bootstrap.js", function(){
            if (jQuery().dataTable) {
            var table1 = jQuery('#datatable_sample1');
            var table2 = jQuery('#datatable_sample2');
            table1.dataTable({
                    "columns": [

                            {
                                "orderable": true
                            }, 
                            {
                                "orderable": false
                            },
                             {
                                "orderable": false
                            }],
                            "lengthMenu": [
                                [5, 20, 50, -1],
                                [5, 20, 50, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 5,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });

            table2.dataTable({
                    "columns": [ 
                            {
                                "orderable": false
                            },                    
                            {
                                "orderable": false
                            },
                             {
                                "orderable": false
                            }],
                            "lengthMenu": [
                                [5, 20, 50, -1],
                                [5, 20, 50, "Tous"] // change per page values here
                            ],
                            // set the initial value
                            "pageLength": 5,            
                            "pagingType": "bootstrap_full_number",
                            "language": {
                                "lengthMenu": "  _MENU_ records",
                                "paginate": {
                                    "previous":"Prev",
                                    "next": "Next",
                                    "last": "Last",
                                    "first": "First"
                                }
                            },
                            "columnDefs": [{  // set default column settings
                                'orderable': false,
                                'targets': [0]
                            }, {
                                "searchable": false,
                                "targets": [0]
                            }],
                            "order": [
                                [1, "asc"]
                            ] // set first column as a default sort by asc
                        });                        
               }
             }); 
            });
        </script>      
 {% endblock %}